@import '~node_modules/modern-normalize/modern-normalize.css';

body {
    background-color: $white-color;
    font-family: $font-poppins;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.76;
    letter-spacing: 0.04em;
}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

.container {
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;

    @media screen and (min-width: $mobile) {
        max-width: $mobile;
    }

    @media screen and (min-width: $tablet) {
        max-width: $tablet;
        padding: 0 32px;
    }

    @media screen and (min-width: $desktop) {
        max-width: $desktop;
        padding: 0 16px;
    }
}

.section {
    padding-top: 60px;
    padding-bottom: 60px;
}