$primary-color: #FD5103;
$title-color: #202025;
$black-color: #000000;
$gray-color: #5F6775;
$white-color: #FCFCFC;
$wite-text-color:#FFFFFF;
$disabled-color:#BDBDBD;

$fotn-roboto: 'Roboto', sans-serif;
$font-poppins: 'Poppins', sans-serif;

$timing-function: cubic-bezier(0.4, 0, 0.2, 1);



