<section class="favorite-ingredients">
  <div class="container">
    <h2>Favorite ingredients</h2>
    <ul class="ingredients__list">
      <li>
        <h3>Campari</h3>
        <p>Liqueur</p>
        <button>Learn more</button>
        <button>Add to</button>
      </li>

      <li>
        <h3>Blanco tequila</h3>
        <p>Distilled beverage</p>
        <button>Learn more</button>
        <button>Add to</button>
      </li>

      <li>
        <h3>Vermouth</h3>
        <p>fortified wine</p>
        <button>Learn more</button>
        <button>Add to</button>
      </li>
    </ul>
  </div>
</section>
