<section class="favorite-cocktails">
    <h2>Favorite cocktails</h2>
    <ul class="cocktails__list">
        <li>
            <div>
                <!-- <img src="" alt=""> -->
            </div>
            <p>Negroni</p>
            <button>Learn more</button>
            <button>Add to</button>
        </li>
        
        <li>
            <div>
                <!-- <img src="" alt=""> -->
            </div>
            <p>Negroni</p>
            <button>Learn more</button>
            <button>Add to</button>
        </li>

        <li>
            <div>
                <!-- <img src="" alt=""> -->
            </div>
            <p>Negroni</p>
            <button>Learn more</button>
            <button>Add to</button>
        </li>
    </ul>

</section>
