<header class="header">
    <div class="flex-box container">
        <a href="./index.html" class="logo" aria-label="logo">Cocktails
            <img class="logo-img" src="" alt="">
        </a>
        <nav class="navi js-menu-container">
            <ul class="navi__list">
                <li class="navi__item"><a class="navi__link" href="./index.html">Home</a></li>
                <li class="navi__item"><a class="navi__link" href="">Favorite</a></li>
            </ul>
        </nav>

        <form class="search-form" id="search-form">
            <input
              type="text"
              name="searchQuery"
              autocomplete="off"
              placeholder="Search images..."
            />
            <button type="submit" class="btn">Search</button>
          </form>

        <div class="btn-box">
            <button class="menu-btn" type="button">
                <svg class="menu-btn__icon" width="20" height="20">
                    <use href=""></use>
                </svg>
            </button>  
        </div>
    </div>
</header>