<div class="back-drop is-hidden" data-modal>
  <div class="modal__ingredients">
    <h2 class="modal__heading">Campari</h2>

    <h3>Liqueur</h3>
    <p>
      <span>Campari</span> is an Italian alcoholic liqueur, considered an
      apéritif (20.5%, 21%, 24%, 25%, or 28.5% ABV, depending on the country in
      which it is sold), obtained from the infusion of herbs and fruit
      (including chinotto and cascarilla) in alcohol and water. It is a bitters,
      characterised by its dark red colour.
    </p>

    <ul>
      <li>Type: Bitters</li>
      <li>Country of origin: Italy</li>
      <li> Alcohol by volume:	20.5–28.5%</li>
      <li> Flavour: Bitter, spicy and sweet</li>
    </ul>

    <button>Add to favorite</button>
    <button>Remove from favorite</button>

    <button
      type="button"
      class="modal__button"
      data-modal-close
      aria-label="close"
    >
      <svg class="modal__icon" width="32" height="32">
        <!-- <use href=""></use> -->
      </svg>
    </button>
  </div>
</div>
