
.flex-box{
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding-top: 10px;
    
    @media screen and (min-width:$desktop){
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    }
}

// logo
.logo-one.is-hiden-btn{
    display: none;
}

.logo-one{
    margin-left: 5px;

    @media screen and (min-width:$desktop){
        display: none; 
    }
}

.logo-two{
    display: none;

    @media screen and (min-width:$desktop){
        display: flex; 
    }
}

// Navigation

.navi{
    margin-top: 13px;

    @media screen and (max-width:$desktop){
        
        position: absolute;
        top: 100px;
        left: 0;

        height: 100vh;
        width: 100%;

        transform: translateX(-100%);
        transition: all 250ms linear;
        
    }
}
    

.navi__list{
    display: flex;

    @media screen and (max-width:$desktop){
        flex-direction: column;
        
        padding-top: 50px;
        text-align: center;
    }
}

.navi__link{
    font-weight: 400;
    font-size: 18px;
    line-height: 133%;
    letter-spacing: 0.02em;
    margin-right: 60px;

    color: inherit;

    @media screen and (max-width:$desktop){
        margin: 0;
        font-size: 28px;
        line-height: 86%;
        text-align: center;
       
    }
}


.navi.is-open{
    background-color: #ffff;
    transform: translateX(1);
    z-index: 1;
}

.navi.is-open.dark-theme{
    background-color: #333333;
}


.is-hiden-btn {
    display: none;
}

.menu-btn{
    z-index: 1;
    height: 40px;
    width: 40px;
    border: none;
    cursor: pointer;
    fill: inherit;

    background-color: transparent;

    @media screen and (min-width:$desktop){
        display: none;  
    } 
}

.menu-btn.dark-theme{
    fill: #FCFCFC;
}



.search-form{
    margin-top: 5px;

    @media screen and(min-width:$tablet){
       width: 288px;
       height: 40px;
        display: flex;
        border: 1px solid #FD5103;
        border-radius: 4px;
    }
    
    @media screen and (max-width:$tablet){
        
        position: absolute;
        top: 100px;
        left: 50px;

        width: 100%;
       
        transform: translateX(-107%);
        transition: all 250ms linear;
        
    }

}

.search-form.show{
    top: 63px;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 1;

    border: 1px solid #FD5103;
    border-radius: 4px;

   width: 280px;
   height: 40px;
   transform: none;
}



.search-input{
    border: none;
    background-color: transparent;
}

.btn{
    height: 39px;

    border: none;
    border-right: 1px solid #FD5103;
    background-color: transparent;
}

.theme-switch{
    display: none;

    @media screen and(min-width:$desktop){
        display: flex;
    }

}

.theme__title-light{
    font-weight: 400;
    font-size: 18px;
    line-height: 133%;
    margin-right: 12px;

    color: #FD5103;
}

.theme__title-light.dark-theme{
    color: #FCFCFC;
}

.theme__title-dark{
    font-weight: 400;
    font-size: 18px;
    line-height: 133%;
    margin-left: 12px;

    color: #5F6775;
}

.theme__title-dark.dark-theme{
    color: #FD5103;
}

.display{
    display: flex;
}

// .btn-box{
//     margin-left: 126px;
// }

.menu-btn{
    position: absolute;
    top: 12px;
    right: 16px;
    border: none;
    cursor: pointer;
    background-color: transparent;
}

// HOVER TIP

.tip {
    display: inline-block;
    
    position: relative;
    text-decoration: none;
    width: 100px;
    
    background: transparent;
    vertical-align: bottom;
    font-weight: 400;
    font-size: 18px;
    line-height: 133%;
    letter-spacing: 0.02em;

    color: inherit;
    cursor: pointer;

    @media screen and (max-width:$desktop){
        font-size: 28px;
        line-height: 86%;
        margin-top: 40px;
       
    }
}


.tip:hover .hover-box,
.tip:focus .hover-box {
    display: block;
}

.hover-box {
    white-space: nowrap;
    z-index: 900;
    border: 1px solid #FD5103;
    border-radius: 4px;
    padding: 12px;
    font-size: .86em;
    display: none;
    position: absolute;
    top: 23px;
    left: 0px;

}

.link-elem{
    font-weight: 400;
    font-size: 18px;
    line-height: 133%;

    letter-spacing: 0.02em;

    color: inherit;
}

.link-elem:hover{
    background-color: #FD5103;
    color: #fff;
}

.chevron{
    display: none;

    @media screen and (max-width:$desktop){
        display: flex;
        position: absolute;
        top: 0;
        right: -40;
        fill: inherit;
    }
}
