

.flex-box{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 10px;
}

.logo{
    font-size: 22px;
    line-height: 109%;
    letter-spacing: 0.02em;
    color: #FD5103;
    box-shadow: rgba(32, 32, 37, 1);
}

// .logo__icon{
//     fill: #000000;
// }


    

.navi__list{
    display: none;

    @media screen and(min-width:$desktop){
        display: flex;
    }
}

.navi__link{
    font-weight: 400;
    font-size: 18px;
    line-height: 133%;
    letter-spacing: 0.02em;
    margin-right: 60px;

    color: #202025;

}


.is-hiden-btn {
    display: none;
}

.menu-btn.js-close-menu {
    margin-right: 0;
}

.menu-btn{
    z-index: 1;
    height: 40px;
    width: 40px;
    border: none;
    cursor: pointer;

    background-color: transparent;
    
    @media screen and (min-width:$tablet){
        margin-right: 40px;
    }

    @media screen and (min-width:$desktop){
        display: none;  
    } 
}

.search-form{
    display: none;

    @media screen and(min-width:$tablet){
        display: flex;
        border: 1px solid #FD5103;
        border-radius: 4px;
    }
}

.search-input{
    border: none;
}

.btn{
    border: none;
    border-left: 1px solid #FD5103;
    background-color: #fff;
}

.theme-switch{
    display: none;

    @media screen and(min-width:$desktop){
        display: flex;
    }

}

.btn-box{
    margin-left: 126px;
}

.menu-btn{
    border: none;
    cursor: pointer;
    background-color: #ffff;
}

// HOVER TIP

.tip {
    display: inline-block;
    
    position: relative;
    text-decoration: none;
    width: 100px;
    
    background: #ffff;
    vertical-align: bottom;
    font-weight: 400;
    font-size: 18px;
    line-height: 133%;
    letter-spacing: 0.02em;

    color: #202025;
}

.tip:hover .hover-box {
    display: block;
}

.hover-box {
    white-space: nowrap;
    z-index: 900;
    border: 1px solid #FD5103;
    border-radius: 4px;
    padding: 12px;
    font-size: .86em;
    display: none;
    position: absolute;
    top: 23px;
    left: 0px;
}

.link-elem{
    font-weight: 400;
    font-size: 18px;
    line-height: 133%;

    letter-spacing: 0.02em;

    color: #000000;
}

.link-elem:hover{
    background-color: #FD5103;
    color: #fff;
}


