.hero-flex{
    

    @media screen and (min-width: $tablet) {
        display: flex;
        flex-wrap: wrap;
        column-gap: 21px;  
    }

    @media screen and (min-width: $desktop) {
        column-gap: 6px;  
    }
}

.hero__box{

    @media screen and (min-width: $tablet) {
        max-width: 346px;
    }

    @media screen and (min-width: $desktop) {
        max-width: 683px;
    }
    
}

.hero__title{
    width: 300px;
    height: 76px;
    margin-bottom: 28px;
    font-weight: 600;
    font-size: 22px;
    line-height: 191%;
    color: #FD5103;

    @media screen and (min-width: $tablet) {
        width: 346px;
        height: 84px;
        font-size: 26px;
        line-height: 162%;
    }

     @media screen and (min-width: $desktop) {
        width: 688px;
        height: 160px;
        font-weight: 600;
        font-size: 52px;
        line-height: 154%;
    }
}

.hero-img{
    align-items: center;
    margin: auto;
    width: 100%;
    height: auto;

    @media screen and (min-width: $tablet) {
        width: 336px;
        position: absolute;
        top: 71px;
        right: 23px;
    }

    @media screen and (min-width: $desktop) {
        width: 478px;
    }
}

.hero__text{
    text-align: center;
    font-weight: 500;
    font-size: 14px;
    line-height: 200%;
    letter-spacing: 0.02em;
    color: inherit;
    opacity: 0.8;
    margin-top: 28px;
    margin-bottom: 20px;

    @media screen and (min-width: $tablet) {
        text-align: left;
    }
}

.letter-list-first{
    text-align: center;

    @media screen and(min-width:$tablet){
        display: flex;
        flex-wrap: wrap;
        max-width: 324px;
        font-weight: 700;
        font-size: 14px;
        line-height: 21px;
        align-items: center;
        margin-top: 40px;

        color: #5F6775;
    }

    @media screen and(min-width:$desktop){
        max-width: 523px;
        font-size: 24px;
        line-height: 36px;
        margin-top: 47px;
    }
    
}

.letter{
    @media screen and(min-width:$tablet){
        width: 24px;
        height: 25px;
    }
    

    @media screen and(min-width:$desktop){
        width: 40px;
        height: 40px;  
    }
}

.btn-letter{
    text-align: center;
    text-transform: uppercase;
    border: none;
    background-color: transparent;
    color: inherit;
    cursor: pointer;

    @media screen and(min-width:$tablet){
        // width: 24px;
        // height: 25px;
        font-weight: 700;
        font-size: 14px;
        line-height: 21px;
        display: flex;
        align-items: center;
        text-align: center;

        color: #5F6775;
        background-color: transparent;
        border: none;

        &:hover,
        &:focus{
            color: #FD5103;
        
        }
    }
      
}

.btnLoadM {
        display: none;
        text-align: center;

        padding: 8px 16px;
        margin: 10px, auto, 0;

        background-color: #fe7031;
        color: #ffffff;
        border: none;
        border-radius: 4px;

        font-family: $fotn-roboto;
        font-weight: 400;
        font-size: 14px;
        line-height: 171%;
        text-align: center;
        letter-spacing: 0.02em;

        cursor: pointer;

        transition: box-shadow $timing-function;

        &:hover {
            background-color: #ffffff;
            color: #fd5103;
            box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
                0px 4px 4px rgba(0, 0, 0, 0.06),
                1px 4px 6px rgba(0, 0, 0, 0.16);
        }

        &:active,
        &:focus {
            background-color: #fd5103;
            color: #FCFCFC;
        }

    }

// ABC mobil select!!!!!!!

.app{
    position: relative;
    justify-content: center;
}

.wrap{
    position: absolute;
    top: 41px;
    right: 35%;
    width: 93px;
}

.select{
    width: 100%;
    position: relative;

    &.open{
        .select__dropdown{
            display: block;
        }
    }

    &__input{
        height: 34px;
        border: 1px solid #FD5103;
        border-radius: 4px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 6 10px;
        cursor: pointer;

        @media screen and(min-width:$tablet){
            display: none;
        }
    }

    &__dropdown{
        display: none;
        position: absolute;
        top: 34px;
        left: 0;
        right: 0;
        border: 1px solid #FD5103;
        border-radius: 4px;
        max-height: 90px;
        overflow-y: auto;
    }

    .letter{
        flex-direction: row;
        align-items: center;
        padding: 4px 10px;
        gap: 20px;
        

        &:hover{
            color: white;
            background-color: #FD5103;
            cursor: pointer;
            transition: .15s background-color ease-in;
        }
    }
}




