.container{
    margin: 20px;
}

.hero__title{
    margin-top: 60px;
    margin-bottom: 28px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 191%;
    color: #FD5103;
}

.hero-img{
    align-items: center;
    margin: auto;
}

.hero__text{
    text-align: center;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 200%;
    letter-spacing: 0.02em;
    color: #000000;
    opacity: 0.8;
    margin-top: 28px;
    margin-bottom: 20px;
}

