.modal__ingredients{
    padding: 16px 20px 40px 20px;
}

.ingredient__title{
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 19px;

    text-transform: uppercase;

    color: #202025;
}

.ingredient__text{
    font-weight: 400;
    font-size: 16px;
    line-height: 175%;
    margin-bottom: 29px;

    color: #5F6775;
}

.ingredien__text--bald{
    font-weight: 600;
    font-size: 16px;
    line-height: 175%;

    color: #202025;
}

.ingredient__compound{
    margin-bottom: 20px;
}