.modal__cocktails{
    position: relative;
    padding: 16px 20px 40px 20px;
}

.modal__heading{
    font-family: $fotn-roboto;
    font-weight: 900;
    font-size: 32px;
    line-height: 38px;
    margin-bottom: 20px;
    color: inherit;
}


.cocktails__instractions{
    font-weight: 600;
    font-size: 16px;
    line-height: 162%;
    margin-top: 28px;
    margin-bottom: 20px;

    text-transform: uppercase;

    color: inherit;
}


.instractions-text{
    font-weight: 400;
    font-size: 16px;
    line-height: 175%;
    margin-bottom: 32px;

    color: #5F6775;
}

.instractions-text.dark-theme{
    color: #BDBDBD;
}

.cocktail-compound{
    margin-bottom: 20px;
}

.compound__title{
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 8px;

    color: inherit
}

.compound__text{
    font-weight: 300;
    font-size: 14px;
    line-height: 21px;
    margin-bottom: 8px;

    color: inherit;
}

.compound__elem{
    font-weight: 400;
    font-size: 16px;
    line-height: 162%;

    color: #5F6775;
}

.compound__elem.dark-theme{
    color: #FCFCFC;
}

.btn-add-fav{
    display: inline-flex;
    text-align: center;
  
    padding: 8px 16px;
  
    background-color: #fe7031;
    color: #ffffff;
    border: none;
    border-radius: 4px;
  
    font-family: $fotn-roboto;
    font-weight: 400;
    font-size: 14px;
    line-height: 171%;
    text-align: center;
    letter-spacing: 0.02em;

    cursor: pointer;

    transition: box-shadow $timing-function;
    
  &:hover, 
  &:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
    0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}

.btn-re-fav{
    display: inline-flex;
    text-align: center;
  
    padding: 8px 16px;
  
    background-color: #fe7031;
    color: #ffffff;
    border: none;
    border-radius: 4px;
  
    font-family: $fotn-roboto;
    font-weight: 400;
    font-size: 14px;
    line-height: 171%;
    text-align: center;
    letter-spacing: 0.02em;

    cursor: pointer;
    transition: box-shadow $timing-function;
    
  &:hover, 
  &:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
    0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}

.modal__button{
    height: 40px;
    width: 40px;
    border: none;
    cursor: pointer;

    background-color: transparent;
}

.modal__icon{

    position: absolute;
    top: 4px;
    right: 13px;
    background-color: rgba(0,0,0,0);
    border: none;
    cursor: pointer;
}

.modal__icon.dark-theme{
    fill: #FCFCFC;
}

.star{
    color: #000917;
    margin-right: 5px;
}

.star.dark-theme{
    color: #FCFCFC;
}

.cocktails__foto{
    max-width: 288px;
}

.modal__path{
    display: block;

    @media screen and (min-width: $tablet) {
       display: flex;
       flex-direction: row-reverse;
       justify-content: start;
    }

    
}

.path__box{
    margin-left: 32px;
}